<div class="bg-slate-400 dark:bg-slate-500 p-5 rounded-md min-w-[450px] shadow-md">
  <mat-tab-group dynamicHeight mat-stretch-tabs="true">
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="mr-2">input</mat-icon>
        Login
      </ng-template>
      <form class="mt-9">
        <div class="mb-6">
          <label for="email" class="block mb-2 text-sm font-medium text-slate-200">Your email</label>
          <input
            type="email"
            id="email"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            placeholder="barangay@gmail.com"
            required>
        </div>
        <div class="mb-6">
          <label for="password" class="block mb-2 text-sm font-medium text-slate-200">Your password</label>
          <input type="password" id="password" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required>
        </div>
        <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700">Submit</button>
      </form>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="mr-2">person_add</mat-icon>
        Register
      </ng-template>
      <form action="" class="mt-9">
        <div class="mb-6">
          <label for="barangay" class="block mb-2 text-sm font-medium text-slate-200">Barangay</label>
          <input
            type="text"
            id="barangay"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            required>
        </div>
        <div class="mb-6">
          <label for="email" class="block mb-2 text-sm font-medium text-slate-200">Username</label>
          <input
            type="email"
            id="email"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            placeholder="barangay@gmail.com"
            required>
        </div>
        <div class="mb-6">
          <label for="password" class="block mb-2 text-sm font-medium text-slate-200">Password</label>
          <input type="password" id="password" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required>
        </div>
        <div class="mb-6">
          <label for="confirmpass" class="block mb-2 text-sm font-medium text-slate-200">Confirm Password</label>
          <input type="password" id="confirmpass" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required>
        </div>
        <div class="mb-6">
          <label for="access" class="block mb-2 text-sm font-medium text-slate-200">Access Code</label>
          <input type="text" id="access" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required>
        </div>
        <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700">Submit</button>
      </form>
    </mat-tab>
  </mat-tab-group>
</div>
